<h2>Edit Discount</h2>
<%= form_tag "/merchant/discounts/#{@discount.id}", method: :patch do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :percentage_off %>
  <%= text_field_tag :percentage_off %>

  <%= label_tag :minimum_quantity %>
  <%= text_field_tag :minimum_quantity %>

  <%= submit_tag 'Update Discount' %>
<% end %>
