<h2>New Discount</h2>
<%= form_tag "/merchant/discounts" do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :percentage_off %>
  <%= text_field_tag :percentage_off %>

  <%= label_tag :minimum_quantity %>
  <%= text_field_tag :minimum_quantity %>

  <%= submit_tag 'Create Discount' %>
<% end %>
